  PG_URI=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
  PORT=3000
  JWT_SECRET=your_jwt_secret_key
  NODE_ENV=development
  MIDTRANS_SERVER_KEY=your_midtrans_server_key
  MIDTRANS_CLIENT_KEY=your_midtrans_client_key